<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }

      img {
        height: 50px !important;
      }
    </style>

    <h2>Esto es nuevo</h2>
    <div class="container">
      <div class="row">
        <h1 class="col col-xs-12 col-sm-12">Gestor de Clientes</h1>
        <div class="col col-xs-12 col-sm-12">
          <button class="btn btn-primary" name="button" on-click="obtenerClientes">Obtener Clientes</button>
        </div>
      </div>

      <div class="row">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido</th>
            </tr>
          </theader>
          <tbody>
            <template is="dom-repeat" items="[[clientes]]">
                <tr>
                  <td>
                    <!-- <span>[[item.ContactName]]</span> -->
                    <span>[[item.idCliente]]</span>
                  </td>
                  <td>
                    <!-- <span>[[item.City]]</span> -->
                    <span>[[item.nombre]]</span>
                  </td>
                  <td>
                    <!-- <img class="img-thumbnail" src="https://www.countries-ofthe-world.com/flags-normal/flag-of-{{item.Country}}.png"></img> -->
                    <span>[[item.apellido]]</span>
                  </td>
                </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>

  </template>
  <script>
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }

      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true,
            value: []
          }
        }
      }

      obtenerClientes() {
        var _self = this;
        // fetch('https://services.odata.org/V4/Northwind/Northwind.svc/Customers')
        fetch('http://localhost:3002/clientes')
        .then(function(response) {
          return response.json();
        })
        .then(function(myJson) {
          // for(var el of myJson.value) {
          //   el.Country = el.Country==='UK'?'United-Kingdom':el.Country;
          // };
          // _self.clientes = myJson.value;
          _self.clientes = myJson;
        });
      }
    };

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
