<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="mi-visor">
  <template>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }

      img {
        max-height: 200px;
      }
    </style>
    <div class="container">
      <div class="row">
        <div class="col col-xs-12 col-md-8">
          <img src="https://image.flaticon.com/icons/svg/714/714390.svg"></img>
        </div>
      </div>
      <div class="row">
        <div class="col col-xs-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Encabezado 1</th>
                <th>Encabezado 2</th>
                <th>Encabezado 2</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Columna 1</td>
                <td>Columna 2</td>
                <td>Columna 3</td>
              </tr>
              <tr>
                <td>Columna 1</td>
                <td>Columna 2</td>
                <td>Columna 3</td>
              </tr>
              <tr>
                <td>Columna 1</td>
                <td>Columna 2</td>
                <td>Columna 3</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1>Contador: [[contador]]</h1>
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-12 col-md-4 flex-center form-group">
        <button type="button" name="button" class="btn btn-primary" on-click="incrementarContador">Incrementar!</button>
      </div>
    </div>
  </template>

  <script>
    /**
     * Este es un elemento personalizado que muestra una imagen
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor' }
      static get properties() {
        return {
          contador: {
            type: String,
            value: 999
          },
          mensaje: {
            type: String,
            value: 'Indique sus credenciales'
          }
        }
      }

      incrementarContador() {
        this.contador++;
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
